<h2>Account Management</h2>
<div style="float:right; width:50%;">
    Show Details: <input type="checkbox" ng-model="showUserDetails">
    <div ng-show="showUserDetails">
    <ul>
        <li>
            <strong>acl :</strong> <a href="#/accounts/{{ account.aclid }}">{{ account.aclid }}</a>
        </li>
        <li>
            <strong>attributes :</strong>{{ account.attributes }}
        </li>
        <li>
            <strong>row key :</strong> {{ account.rowkey }}
        </li>
    </ul>
    <strong>Change Password :</strong> <input type="password" ng-model="newPwd"> <span masked-password pwd="newPwd"></span>
    <br/>
    <button ng-click="changePwd(newPwd)">SAVE</button>
    </div>
</div>
<div style="width:50%;">
    <input ng-model="email">
    <button ng-click="findUser(email)">SEARCH</button>
    <ul>
        <li>
            <strong>email :</strong> {{ account.email }}
        </li>
        <li>
            <strong>username :</strong> {{ account.username }}
        </li>
        <li>
            <strong>domain :</strong> {{ account.domain }}
        </li>
        <li>
            <strong>active :</strong> {{ account.active }}
        </li>
        <li>
            <strong>creation :</strong> {{ account.creation | date:'short' }}
        </li>
    </ul>
</div>
<h2>Account Permissions</h2>
<ul>
    <li ng-repeat="(key, data) in acl.attributes">
        <p><strong>{{ key }}</strong>: {{ data }} <a ng-click="removeTopicPermissions(key)">X</a></p>

        <div topic-permissions permissions="data" topic="key"
             on-permission-change="saveUpdatedPermissions(permissions)"></div>
    </li>
</ul>
<h3>Add Permission</h3>
Default permissions are 'get' only.
<br/>
{{ domain.rowkey }}/<input ng-model="newTopic"/>
<br/>
<button ng-click="saveNewPermissions(newTopic)">SAVE</button>

