<!-- <div class="jumbotron">

</div> -->
      
<div class="row">
  <div class="col-lg-12">
	<h3 class="text-muted">Account Management</h3>
	<p>
  	Email: <input ng-model="email"> <button class="btn btn-primary" ng-click="findUser(email)">SEARCH</button>
  	<div ng-repeat="error in errors">
  		<span class="label label-danger">{{ error.msg }}</span>
		</div>
	</p>
	<div style="float:right; width:50%;" ng-show="account.aclid">
	    <div ng-show="account.aclid">
		    <ul>
	        <li>
            <strong>acl :</strong> {{ account.aclid }}
	        </li>
	        <li>
            <strong>attributes :</strong>{{ account.attributes }}
	        </li>
	        <li>
            <strong>row key :</strong> {{ account.rowkey }}
	        </li>
		    </ul>
		    <strong>New Password :</strong> <input type="password" ng-model="newPwd"> <span masked-password pwd="newPwd"></span>
		    <br/>
		    <strong>Confirm Password :</strong> <input type="password" ng-model="newPwd2"> <span masked-password pwd="newPwd2"></span>
		    <br/>
		    <div ng-show="newPwd.length > 0 && newPwd === newPwd2">
			    <button class="btn btn-primary" ng-click="changePassword(newPwd, account.rowkey)">SAVE</button>
				</div>
				<div ng-show="newPwd !== newPwd2">
			    Passwords do not match
				</div>
	    </div>
	</div>
	<div style="width:50%;">
    <ul ng-show="account.aclid">
      <li>
        <strong>email :</strong> {{ account.email }}
      </li>
      <li>
        <strong>username :</strong> {{ account.username }}
      </li>
      <li>
        <strong>domain :</strong> {{ account.domain }}
      </li>
      <li>
        <strong>active :</strong> {{ account.active }}
      </li>
      <li>
        <strong>creation :</strong> {{ account.creation | date:'short' }}
      </li>
    </ul>
	</div>
	<h3 class="text-muted">Account Permissions <small>current permissions <span class="badge">{{ permLen }}</span></small></h3>
	<div class="panel panel-default" ng-repeat="(topic, permissions) in acl.attributes">
		<div class="panel-heading">{{ topic }}</div>
	  <div class="panel-body">
      {{ permissions }} 
      <div class="btn-group btn-group-xs">
    		<button type="button" class="btn btn-default" ng-click="removeTopicPermissions(topic)">remove</button>
    	</div>

      <topic-permissions permissions="permissions" topic="topic" on-permission-change="saveUpdatedPermissions(permissions)"></topic-permissions>
	  </div>
	</div>
	
	<h3 class="text-muted">Add Permission <small>permissions are added with GET only</small></h3>
	
	<br/>
	{{ domain.rowkey }}/<input ng-model="newTopic"/> <button class="btn btn-primary" ng-click="saveNewPermissions(newTopic)">SAVE</button>
  </div>
</div>