  Monitor the $SYS events on your account. Newest events are at the top.
  <div class="panel panel-default">
    <div class="panel-heading">
      Event Log - Search: <input ng-model="query">
    </div>
    <div class="panel-body log">
      <div ng-repeat="event in log.events | filter:query">
        <p class="log-events bg-{{ event.type }}">{{ event.received | date: 'short' }} : {{ event.msg }}</p>
      </div>
      <a id="bottom"></a>
    </div>
  </div>
   
  <div class="row">
    <div class="col-lg-12" >
      {{ log.subscriptions }}
    </div>
  </div> 
